

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #242856;
  color: #ffffff;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.top-bar .social-icon {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
}

.top-bar .social-icon:hover {
  color: #ffdd00;
}

#theme-toggle {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 2px solid #ccc;
}

.logo-section .logo-img {
  width: 200px;
  height: 60px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #000000c9;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #242856;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #073d8c;
  font-weight: bold;
  padding: 10px;
  transition: background 0.3s;
}

.nav-item a:hover {
  background-color: #242856;
  border-radius: 15px;
  color: white;
}

.btn-cta {
  height: 20px;
  display: inline-block;
  background-color: #242856;
  color: white;
  padding: 0.85em 2.5em;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(230, 57, 70, 0.4);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.btn-cta:hover,
.btn-cta:focus {
  background-color: #f29420;
  box-shadow: 0 8px 20px rgba(184, 51, 58, 0.6);
  outline: none;
}

/* Responsive hamburger */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #004080;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    border-radius: 8px;
    z-index: 999;
  }
  .nav-menu.active {
    display: flex;
  }
  .nav-item a {
    color: white;
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .nav-item a:hover {
    background-color: #0066cc;
  }
}
